* {
  box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    display: flex;
    justify-content: center;
    padding: 24px 24px 0 24px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.box-wrap {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-small {
  height: 50px;
}

.big-box {
  width: 45%;
}
